.Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 1);
  padding: 1rem;
}
.Footer_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.Footer_logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 24%;
}
.Footer_logo > p {
  width: 100%;
  color: rgba(20, 18, 25, 1);
}
.footer_company {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 24%;
}
.footer_company > h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
.footer_company > ul {
  text-align: center;
}
.Footer > hr {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
}
.footer_copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer_social {
  display: flex;
  gap: 1rem;
}
.footer_social > svg {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid rgba(215, 223, 43, 1);
  cursor: pointer;
}
@media screen and (max-width: 789px) {
  .Footer_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_company,
  .Footer_logo {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .Footer_logo > p {
    text-align: center;
  }
  .footer_copyright {
    justify-content: center;
  }
}
