.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  height: auto;
  padding: 0;
}
.hero .hero_left {
  width: 100%;
  background-image: url("/images/MB22.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 3rem;
  border-radius: 0 16px 16px 0;
  color: white;
}
.hero_right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 100%;
}
.hero_right > img {
  width: 100%;
  border-radius: 16px 0 0 16px;
  height: 345px;
}
.hero_left span {
  color: white;
  background-color: black;
  padding: 10px;
  width: 107px;
  height: 30px;
  border-radius: 16px;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_left h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.2;
  width: 80%;
}
.hero_left p {
  width: 60%;
  font-size: 1rem;
  line-height: 1.5;
}
.hero_left a {
  text-decoration: none;
  background-color: rgba(215, 223, 43, 1);
  padding: 10px;
  border-radius: 24px;
  font-weight: bold;
  width: 160px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}
@media screen and (min-width: 1401px) {
  .hero {
    height: 1200px;
  }
  .hero .hero_left {
    height: 1200px;
    padding-top: 8rem;
  }
  .hero_right > img {
    height: 595px;
  }
  .hero_left span {
    padding: 0.5rem;
    font-size: 1rem;
    width: 130px;
    height: 35px;
  }
  .hero_left h1 {
    font-size: 2.5rem;
    width: 70%;
  }
  .hero_left p {
    font-size: 1.5rem;
  }
  .hero_left a {
    font-size: 1.3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
  }
}
@media screen and (max-width: 991px) {
  .hero {
    flex-direction: column;
    height: auto;
  }
  .hero .hero_left {
    width: 100%;
    border-radius: 0;
    padding: 1rem;
    height: 400px;
  }
  .hero_right {
    display: none;
  }
  .hero_right > img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  .hero_left span {
    font-size: 10px;
    width: 80px;
    height: 25px;
  }
  .hero_left h1 {
    font-size: 1.3rem;
    width: 95%;
  }
  .hero_left p {
    width: 90%;
    font-size: 0.8rem;
  }
  .hero_left a {
    text-decoration: none;
    background-color: rgba(215, 223, 43, 1);
    padding: 0.5rem;
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
