.Categories {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Categories_container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 20px;
  padding: 1rem 3rem;
}
.Category_item,
.Category_item > a {
  width: 30%;
}
.Category_item > a > img {
  width: 100%;
  border-radius: 16px;
}
@media screen and (max-width: 789px) {
  .Categories_container {
    padding: 1rem;
  }
  .Category_item,
  .Category_item > a {
    width: 45%;
  }
}
