.banner2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}
.banner2 > img {
  width: 100%;
}
.banner2_content {
  position: absolute;
  left: 20px;
  width: 40%;
  top: 50px;
  color: rgba(0, 0, 0, 0.7);
}
.banner2_content > h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}
.banner2_content > button {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.45);
  border: 1.5px solid rgba(255, 255, 255, 0.9);
  padding: 8px;
  width: 160px;
  border-radius: 16px;
  transition: 0.3s ease;
  cursor: pointer;
  color: white;
}
.banner2_content > button:hover {
  background-color: white;
  color: black;
}
@media screen and (max-width: 789px) {
  .banner2_content {
    top: 15px;
  }
  .banner2_content > h2 {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .banner2_content > p {
    font-size: 11px;
  }
  .banner2_content > button {
    width: 100px;
    font-size: 0.8rem;
    margin-top: 5px;
    padding: 5px;
  }
  .banner2 > img {
    height: 120px;
  }
}
