.Featured_Products {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Featured_Products_container {
  width: 100%;
  max-width: 1600px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.Featured_Products .Featured_Products_header_title > span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
  margin-left: 30px;
}

.Featured_Products .Featured_Products_header_title > span::before {
  content: "";
  height: 40px;
  width: 20px;
  background-color: rgba(215, 223, 43, 1);
  position: absolute;
  left: -30px;
  top: -8px;
  border-radius: 8px;
}

.Featured_Products .Featured_Products_header_title > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.Featured_Products_swiper {
  width: 100%;
  margin-top: 1rem;
}

.Featured_card {
  width: 100%;
  max-width: 400px;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}
.Featured_card > a {
  width: 100%;
}
.Featured_card .Featured_img {
  width: 100%;
  height: 340px;
  padding: 0;
  border-radius: 16px;
}
.Featured_card .Featured_img > img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 16px;
}
.Featured_img > svg {
  background-color: white;
  width: 15px;
  height: 15px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}
.Featured_img > svg:hover {
  color: red;
}
.Featured_img > p {
  background-color: white;
  padding: 5px 15px;
  border-radius: 16px;
  font-size: 0.8rem;
  position: absolute;
  top: 20px;
  right: 20px;
}
.Featured_card h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
  padding: 0px 10px;
}
.Featured_stars,
.Featured_price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
.Featured_stars > svg {
  color: rgba(255, 169, 13, 1);
  margin-right: 5px;
}
.Featured_stars > p {
  margin-left: 10px;
  font-size: 14px;
  color: rgba(139, 138, 138, 1);
  width: 100%;
}
.Featured_price {
  margin-top: 5px;
  justify-content: space-between;
}
.Featured_price > h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 10px;
}
.Featured_price > button {
  padding: 5px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Featured_Products_swiper {
  direction: ltr;
}
/* أزرار السلايدر */
.Featured_Products_swiper .swiper-button-next,
.Featured_Products_swiper .swiper-button-prev {
  color: rgba(7, 101, 133, 1);
  transition: color 0.3s ease;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(215, 223, 43, 1);
}
.Featured_Products_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Featured_Products_nav_buttons {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
}

.nav_btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav_btn:hover {
  background-color: rgba(215, 223, 43, 1);
  color: #000;
}
.loader_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.loader_container > .loader {
  width: 250px;
  height: 265px;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    linear-gradient(#ddd, #ddd);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 215px 220px, 215px 130px, 100px 15px, 150px 15px;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
  }
}
@media screen and (min-width: 1401px) {
  .Featured_Products_container {
    padding: 0;
  }
  .Featured_card {
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (max-width: 789px) {
  .Featured_Products_container {
    padding: 0;
  }
  .Featured_Products {
    padding: 20px;
  }
  .Featured_card {
    width: 135px;
    height: auto;
    gap: 0;
  }
  .Featured_card .Featured_img {
    width: 100%;
    height: 150px;
  }
  .Featured_card .Featured_img p,
  .Featured_card .Featured_img svg {
    display: none;
  }
  .Featured_card h2 {
    font-size: 0.75rem;
    padding: 0 5px;
  }
  .Featured_stars,
  .Featured_price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
  }
  .Featured_stars > svg {
    color: rgba(255, 169, 13, 1);
    margin-right: 5px;
    font-size: 0.6rem;
  }
  .Featured_stars > p {
    display: none;
  }
  .Featured_price {
    margin-top: 5px;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
  }
  .Featured_price > h3 {
    font-size: 0.9rem;
    margin: 0;
  }
  .Featured_price > button {
    padding: 5px;
    width: 90%;
    font-size: 0.8rem;
  }
  .Featured_Products .Featured_Products_header_title > h1 {
    font-size: 1.3rem;
  }
  .nav_btn {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
  }
}
