.Featured_Products {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Featured_Products_container {
  width: 100%;
  max-width: 1600px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.Featured_Products .Featured_Products_header_title > span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
  margin-left: 30px;
}

.Featured_Products .Featured_Products_header_title > span::before {
  content: "";
  height: 40px;
  width: 20px;
  background-color: rgba(215, 223, 43, 1);
  position: absolute;
  left: -30px;
  top: -8px;
  border-radius: 8px;
}

.Featured_Products .Featured_Products_header_title > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.Featured_Products_swiper {
  width: 100%;
  margin-top: 1rem;
}

.Featured_card {
  width: 100%;
  max-width: 400px;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}
.Featured_card > a {
  width: 100%;
}
.Featured_card .Featured_img {
  background-image: url("/images/p1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  border-radius: 16px;
}
.Featured_img > svg {
  background-color: white;
  width: 15px;
  height: 15px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.Featured_img > svg:hover {
  color: red;
}
.Featured_img > p {
  background-color: white;
  padding: 5px 15px;
  border-radius: 16px;
  font-size: 0.8rem;
}
.Featured_card h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
  padding: 0px 10px;
}
.Featured_stars,
.Featured_price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
.Featured_stars > svg {
  color: rgba(255, 169, 13, 1);
  margin-right: 5px;
}
.Featured_stars > p {
  margin-left: 10px;
  font-size: 14px;
  color: rgba(139, 138, 138, 1);
  width: 100%;
}
.Featured_price {
  margin-top: 5px;
  justify-content: space-between;
}
.Featured_price > h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
}
.Featured_price > button {
  padding: 5px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Featured_Products_swiper {
  direction: ltr;
}
/* أزرار السلايدر */
.Featured_Products_swiper .swiper-button-next,
.Featured_Products_swiper .swiper-button-prev {
  color: rgba(7, 101, 133, 1);
  transition: color 0.3s ease;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(215, 223, 43, 1);
}
.Featured_Products_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Featured_Products_nav_buttons {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
}

.nav_btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav_btn:hover {
  background-color: rgba(215, 223, 43, 1);
  color: #000;
}
@media screen and (min-width: 1401px) {
  .Featured_Products_container {
    padding: 0;
  }
  .Featured_card {
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (max-width: 789px) {
  .Featured_Products_container {
    padding: 0;
  }
  .Featured_Products {
    padding: 20px;
  }
  .Featured_card {
    max-width: 100%;
  }
  .Featured_Products .Featured_Products_header_title > h1 {
    font-size: 1.3rem;
  }
  .nav_btn {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
  }
}
