.Brands {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.barnds_container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.Brands .brands_header_title > span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
  margin-left: 30px;
}

.Brands .brands_header_title > span::before {
  content: "";
  height: 40px;
  width: 20px;
  background-color: rgba(215, 223, 43, 1);
  position: absolute;
  left: -30px;
  top: -8px;
  border-radius: 8px;
}

.Brands .brands_header_title > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.brands_swiper {
  width: 100%;
  margin-top: 1rem;
  direction: rtl;
}

.brand_card {
  width: 100%;
  max-width: 1040px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  overflow: hidden;

}

.brand_card img {
  width: 160px;
  height: auto;
}

.brand_card > span {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
}

/* أزرار السلايدر */
.brands_swiper .swiper-button-next,
.brands_swiper .swiper-button-prev {
  color: rgba(7, 101, 133, 1);
  transition: color 0.3s ease;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(215, 223, 43, 1);
}
.brands_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands_nav_buttons {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
}

.nav_btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav_btn:hover {
  background-color: rgba(215, 223, 43, 1);
  color: #000;
}
.loader_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.loader_container > .loader {
  width: 250px;
  height: 265px;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    linear-gradient(#ddd, #ddd);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 215px 220px, 215px 130px, 100px 15px, 150px 15px;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
  }
}
@media screen and (min-width: 1401px) {
  .barnds_container {
    padding: 0;
  }
  .brand_card {
    width: 100%;
    max-width: 350px;
    height: 160px;
  }
  .brand_card img {
    width: 180px;
    height: auto;
  }
}
@media screen and (max-width: 789px) {
  .Brands {
    padding: 20px;
  }
  .brand_card {
    width: 130px;
    height: 100px;
    text-align: center;
  }
  .brand_card > img {
    width: 100%;
  }
  .brand_card > span {
    font-size: 0.8rem;
  }
  .Brands .brands_header_title > h1 {
    font-size: 1.3rem;
  }
  .nav_btn {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
  }
}
