.register,
.register-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container {
  gap: 1rem;
  padding: 1rem 2rem;
}
.register-img {
  max-width: 580px;
  height: 600px;
  width: 100%;
  background-image: url("/images/register-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.register-img > img {
  width: 200px;
  padding-top: 2rem;
}
.register-img-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.imgs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.imgs > img {
  width: 120px;
}
.imgs > a {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-img-content > h3 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  width: 70%;
}
.register-form {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.register-form h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
}
.register-form p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
.register-form p a {
  color: rgba(0, 125, 78, 1);
  font-weight: 600;
}
.form-content {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.form-content label {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.form-content label h3 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.form-content > label > input,
.form-optional > label > input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
}
.form-content > label > h3 > span {
  color: rgba(255, 0, 0, 0.8);
  margin-top: 0.3rem;
}
.form-optional {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}
.register-terms {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.register-terms h4 {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}
.register-form button {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
.form-optional::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -20%;
  left: 0;
}
@media screen and (min-width: 1401px) {
  .register-container {
    height: 100vh;
    padding: 2rem 0;
  }
  .register-img {
    max-width: 700px;
    width: 700px;
    height: 700px;
  }
  .register-img > img {
    width: 180px;
  }
  .imgs > img {
    width: 150px;
  }
  .imgs > a {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .imgs > a > svg {
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .register-img-content > h3 {
    font-size: 2rem;
    width: 70%;
  }
  .register-form {
    width: 90%;
    max-width: 600px;
  }
  .register-form h1 {
    font-size: 2rem;
  }
  .register-form p {
    font-size: 1.2rem;
  }
  .form-content label h3 {
    font-size: 1.2rem;
  }
  .form-optional {
    margin: 2rem 0;
  }
  .form-content > label > input,
  .form-optional > label > input {
    padding: 10px;
    font-size: 1.1rem;
  }
  .register-terms {
    margin: 1rem 0;
  }
  .register-terms h4 {
    font-size: 1.2rem;
  }
  .register-terms input {
    width: 20px;
    height: 20px;
  }
  .register-form button {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
  }
  .form-optional::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 140%;
    left: 0;
  }
}
@media screen and (max-width: 789px) {
  .register {
    height: 98vh;
  }
  .register-img {
    display: none;
  }
  .register-form h1 {
    font-size: 1.7rem;
  }
  .register-form p {
    font-size: 0.9rem;
  }
  .form-optional h3 {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
  }
  .form-optional::before {
    top: -15%;
  }
  .register-form button {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }
}
